.user-icon {
    margin-left: auto;
    padding-right: 1rem;
    font-size: 1.5em;
    color: blue !important;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.center {
    justify-content: center;
}

form span button {
    margin: 0 .5rem !important;
}

@media screen and (max-width: 600px) {
    .btn-login {
        margin: auto;
    }
}